<?xml version="1.0" encoding="utf-8"?>

<module loadFromBin="false"
        clientResourceRelativePath=""
        productName="FooBar.Addon"
        type="FooBar.Addon.FooBarModule, FooBar.Addon">
  <assemblies>
    <add assembly="FooBar.Addon" />
  </assemblies>

  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="FooBar.Addon" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>

  <clientResources>
    <add name="FooBarResources" path="ClientResources/foobar-addon/widgets.js" resourceType="Script" />
  </clientResources>

  <dojo>
    <paths>
      <add name="foobar-addon" path="ClientResources/foobar-addon" />
    </paths>
  </dojo>

  <clientModule initializer="foobar-addon/initializer">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="FooBarResources" />
    </requiredResources>
  </clientModule>

</module>